# CubeMX缓存
.mxproject
# VSCode配置
.vscode/
# Keil MDK编译产物
MDK-ARM/Objects/
MDK-ARM/Listings/
MDK-ARM/*.axf
MDK-ARM/*.hex
MDK-ARM/*.bin
MDK-ARM/*.uvoptx
# Python缓存
pyGUI/__pycache__/
pyGUI/*.pyc
# 系统文件
Thumbs.db
.DS_Store